* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', serif;
  font-size: 28px;
  text-decoration: none;
}

body {
  background-color: rgb(119, 67, 67);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 80vh;
}


.circle {
    background-color: rgba(0, 0, 0, 0.3);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid;
    border-top-width: 10px  ;
  }

 

.svetofor {
  position: relative;
  background-color: #2c3e50;
  height: 250px;
  width: 100px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  flex-direction: column;
  justify-content: space-between;
  border: solid;
  border-right-width: 7px;
} 

.svetofor::before {
  position: absolute;
  text-align: center;
  content: "Don't touch me! I'm automatic. ";
  top: -30%;
  width: 500px;
  color: rgb(255, 0, 0);
  opacity: 0;
  animation: myAnimAlarm 1s linear 0s infinite normal forwards;
}

.svetofor:hover::before {opacity: 1;}

@keyframes myAnimAlarm {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.stolb {
  height: 350px;
  margin: 230px;
  width: 35px;
  background-color: #2c3e50;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: absolute;
  border: solid;
  border-right-width: 7px;
}

.circle.green {
  background-color: rgb(11, 186, 11);
  box-shadow: rgb(21, 159, 21) 0 0 25px;
}

.circle.yellow {
  background-color: rgb(208, 208, 27);
  box-shadow: rgb(205, 205, 31) 0 0 25px;
}

.circle.red {
  background-color: red;
  box-shadow: rgb(228, 48, 48) 0 0 25px;
}

.back {
  font-size: 23px;
  position: absolute;
  left: 1%;
  top: 1%;
  padding: 10px;
  border: solid;
  background-color: #2c3e50;
}
.back:hover {
  background-color: #537496;
  cursor: pointer;
}

.traficlight {
  position: absolute;
  left: 10%;
  bottom: 40%;
  background-color: #2c3e50;
  height: 100px;
  width: 250px;
  border-radius: 30px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: solid;
  border-right-width: 7px;
  border-bottom-width: 7px;
  user-select: none;
  flex-direction:row;
}


#lightRed, #lightGreen, #lightYellow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0000004d;
  display: flex;
  border: solid;
  border-top-width: 10px;
  margin: 9px;
  cursor: pointer;
}

.stolb2 {
  display: flex;
  height: 400px;
  width: 35px;
  background-color: #2c3e50;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: absolute;
  border: solid;
  border-right-width: 7px;
  rotate: 90deg;
  left: 0%;
  z-index: -1;
}

#trafficLightE1 {
  background-color: rgba(0, 0, 0, 0.3);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid;
  border-top-width: 10px;
  cursor: pointer;
}

.odin {
  right: 20%;
  top: 20%;
  position: absolute;
  background-color: #2c3e50;
  height: 100px;
  width: 100px;
  border-radius: 30px;
  border: solid;
  border-right-width: 7px;
  border-bottom-width: 7px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.stolb3 {
  display: flex;
  height: 300px;
  width: 35px;
  background-color: #2c3e50;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: absolute;
  border: solid;
  border-right-width: 7px;
  top: -250%;
  right: 24%;
  z-index: -1;
}

.click1 {
  position: absolute;
  display: flex;
  left: 10%;
  margin-top: -15%;
  user-select: none;
  animation: myAnim 3s linear 0s infinite normal forwards;
}

.img1 {
  position: absolute;
  display: flex;
  left: 14%;
  margin-top: -4%;
  animation: myAnimimg 4s linear 0s infinite normal none;
}

.click2 {
  position: absolute;
  display: flex;
  right: 16%;
  margin-top: 15%;
  user-select: none;
  animation: myAnim 3s linear 0s infinite normal forwards;
}

.img2 {
  position: absolute;
  display: flex;
  right: 20%;
  margin-top: 2%;
  animation: myAnimimg 4s linear 0s infinite normal none;
}

@keyframes myAnimimg {
	0%,
	100% {
		transform: translateY(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateY(-8px);
	}

	20%,
	40%,
	60% {
		transform: translateY(8px);
	}

	80% {
		transform: translateY(6.4px);
	}

	90% {
		transform: translateY(-6.4px);
	}
}


@keyframes myAnim {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}
